* {
  margin: 0px;
  box-sizing: border-box;
  line-height: 1;
  font-family: "fontello";
}

section > .container {
  /* width:/* 1170px 100vw; */
  margin: auto;
  display: block;
  /* 
  padding: 30px 50px; */
}
.section-title {
  font-family: "fontello";
  font-size: 24px;
  font-weight: normal;
  color: #343a40;
  margin-bottom: 20px;
}

i {
  color: #4dabf7;
}
.bg-grey {
  background: #f7f7f7;
}

/* banner */
#banner {
  position: relative;
}
.bg {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
/* tạo nền tối màu cho img bằng cách đặt .bg có kích thước bằng banner và đặt position:absolute*/
.img {
  display: block; /*xóa khoảng trống dưới ảnh, các khoảng trống được tạo ra để điều chỉnh các phần tử inline*/
  width: 100%;
  height: 450px;
}
.banner-tittle {
  color: #e9ecef;
  text-align: center;

  position: absolute;
  top: 25%;
  left: 50%;
  /* banner-tittle ở vị trí cách top của #banner 1 khoảng 1/4 chiều cao của #banner và cách left của #banner 1 khoảng 1/2 chiều rộng của #banner */
  transform: translate(-50%, -50%);
  /* dịch chuyển banner-tittle lên trên 1 khoảng bằng 1/2 chiều cao của banner-tittle và dịch sang trái 1 khoảng bằng 1/2 chiều rộng của banner-tittle */
}
.banner-tittle h1 {
  font-size: 42px;
  font-weight: normal;
}
.banner-tittle span {
  font-size: 12px;
  color: #ced4da;
}

/* phần banner được giữ nguyên ở cả 3 màn hình nên thực hiện chỉnh sửa bằng media query từ phần navbar */
/* từ navbar trở xuống - tablet*/
@media screen and (max-width: 960px) {
  /* nav start*/
  #nav-bar {
    padding: 0;
  } /*thêm padding: 0 để xóa khoảng trống sinh ra do thêm lớp navbar bootstrap vào #nav-bar  - tablet*/
  #nav-bar .container {
    display: flex;
    justify-content: center;
    /* căn giữa theo trục chính cho navbar bằng flex*/
  }

  .navbar-nav {
    height: 30px; /*chỉnh độ cao phù hợp - tablet */
    flex-direction: row !important;
    /*ghi đè lên css bootstrap để navbar không hiển thị chiều dọc - tablet*/
  }
  .nav-item {
    width: 110px;
    height: 30px; /*chỉnh lại độ cao phù hợp - tablet */
    border-right: solid 1px #f1f3f5;
    border-left: solid 1px #f1f3f5;
    /* tạo border bên trái và bên phải cho mỗi nav-item */
    display: flex;
    justify-content: center;
    align-items: center;
    /* căn giữa theo trục chính và trục chéo cho thẻ a bằng flex */
    font-size: 12px;
  }
  .nav-link:link,
  .nav-link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #343a40;
    cursor: pointer;
  }
  .nav-link:hover,
  .nav-link:active {
    color: red;
    font-weight: bold;
  }
  /* định dạng và tạo hiệu ứng cho thẻ a bằng các lớp ảo link, visited, hover, active*/
  .sub-nav {
    text-align: center;
    width: 40px; /*giảm độ rộng cho phù hơp - tablet*/
    border-right: solid 1px #f1f3f5;
    border-left: solid 1px #f1f3f5;
    /* tạo border bên trái và bên phải cho .sub-nav */
    padding-bottom: 10px;
  }
  .sub-nav h1 {
    display: none; /*xóa h1 và để lại box cho .sub-nav  - tablet*/
    font-size: 24px;
    font-weight: normal;
    color: #343a40;
  }
  .sub-nav span {
    display: none; /*xóa span và để lại box cho .sub-nav  - tablet*/
    font-size: 10px;
    color: #343a4087;
  }
  /* navbar end */

  /* about start*/
  #about .container-ab {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* chia .container của #about làm 2 phần có độ rộng bằng nhau, mỗi phần bằng 1 nửa .container */
  }
  #target {
    margin-top: 60px;
    padding-right: 60px; /*tăng trong tablet*/
    padding-left: 40px; /*tăng trong tablet*/
  }

  #target p {
    font-size: 14px;
    color: #495057;
    line-height: 1.5;
    /* chỉnh khoảng cách giữa các dòng cho phù hợp, tránh khó xem do quá gần nhau */
  }
  #personal-info {
    background-color: #f1f3f5;
    padding-left: 60px; /*tăng trong tablet */
    padding-top: 60px;
    /* dùng padding-top để đảm bảo màu nền của #personal-info chiếm nửa bên phải của .container */
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 0;
    /* tạo khoảng cách giữa các dòng như giới tính, ngày sinh,... */
    font-size: 14px;
    color: #495057;
  }
  .info li {
    list-style: none;
    /* xóa dấu chấm đầu thẻ li */
  }
  .info span {
    font-weight: bold;
    /* tạo font đậm cho các span như giới tính, ngày sinh,... */
  }
  .info-icon {
    margin-top: 20px;
    margin-bottom: 40px;
    /* tạo khoảng cách trên dưới cho các icon trong personal-info */
  }
  /* about end */

  /* job info start */
  .container.job-info {
    display: grid;
    grid-template-columns: 1fr 1fr; /*bố cục 2 cột bằng nhau trong tablet*/
    margin-bottom: 40px; /*bổ sung mb trong mobile*/
    /* grid-template-rows: 5fr 3fr;
    justify-content: center; */
    /* không cần thiết trong tablet*/

    /* chia 6 detail thành 3 cột có độ rộng 290px và 2 hàng có độ cao theo tỉ lệ 5:3 */
    /* căn giữa theo trục dọc cho các grid item */
    /* sử dụng bộ chọn .container.job-info có mức độ ưu tiên cao hơn section > .container */
  }
  .job-info-detail {
    margin-top: 30px;
    /* tạo khoảng cách với phần about phía trên giữa 2 hàng của grid*/
    margin-right: 20px;
    /* tạo khoảng cách giữa các cột của grid */
    color: #495057;
    padding: 40px 20px;
    border: #dee2e6 solid 1px;
    /* tạo border như thiết kế */
  }
  .job-info-tittle {
    display: grid;
    grid-template-columns: 3fr 1fr;
    /* chia job-info-tittle làm 2 phần với h1 chiếm 75% độ rộng và icon chiếm 25% độ rộng */
    align-items: end;
    /* h1 và icon đặt ở cuối grid theo chiều ngang */
    margin-bottom: 40px;
  }
  .job-info-tittle h1 {
    font-size: 24px;
    font-weight: normal;
  }
  .job-info-tittle i {
    color: #b4b5b6;
    font-size: 32px;
  }
  .job-info-content {
    padding-left: 16px;
    padding-right: 16px;
  }
  .job-info-content li {
    margin-bottom: 30px;
  }
  .job-info-content li::marker {
    color: #228be6;
    font-size: 20px;
    /* đặt màu và kích cỡ cho dấu chấm ở đầu mỗi list */
  }
  .job-info-content h2 {
    font-size: 14px;
  }
  .time {
    font-style: italic;
    font-size: 12px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .time button {
    font-size: 12px;
    background-color: #228be6;
    color: #d0ebff;
    font-style: italic;
    border-radius: 8px; /*tạo viền cong */
    padding-left: 10px;
    padding-right: 10px;
    border: none; /* xóa border */
  }
  .job-info-content p {
    line-height: 1.5;
    font-size: 14px;
  }
  .hobby {
    display: flex; /* các div trong class hobby được bố cục thành 1 hàng */
    justify-content: space-between; /* làm cho khoảng cách giữa các div trong class hobby bằng nhau */
  }
  .hobby div {
    display: flex;
    flex-direction: column; /*chuyển trục chính thành chiều dọc, thẻ icon và thẻ p trong div được bố cục thành 2 hàng*/
    gap: 10px; /*tạo khoảng cách giữa icon và p*/
    align-items: center; /*căn giữa theo chiều ngang*/
  }
  .ic-border {
    width: 40px;
    height: 40px;
    border: solid 1px #4dabf7;
    border-radius: 50%;
    /* tạo viền tròn bao xung quanh icon */
    display: flex;
    justify-content: center;
    align-items: center;
    /* đặt icon vào chính giữa đường viền tròn bằng flex*/
  }
  .hobby p {
    font-size: 14px;
  }
  .content p {
    font-size: 14px;
    line-height: 1.5;
  }
  .level-on {
    background: #199cdb;
    display: inline-block;
    height: 2px;
    width: 45px;
    margin-right: 10px;
  }
  .level-off {
    background: #e9ecef;
    display: inline-block;
    height: 2px;
    width: 45px;
    margin-right: 10px;
  }
  /* job info end */

  /* certificate start */
  #certificate .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px 1fr 1fr; /*đặt lại để .section-title có độ cao phù hợp - tablet*/
    /* chia container của #certificate thành 2 cột rộng bằng nhau và 3 hàng cao bằng nhau */
    margin-top: 20px;
    /* padding: 0 70px 20px 70px; */ /*xóa padding - tablet*/
    color: #495057;
  }
  #certificate .container .section-title {
    grid-column: 1/-1; /*đặt tiêu đề chiếm hàng đầu tiên*/
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .certificate {
    display: flex; /*đặt phần nội dung ngang với img*/
    gap: 0px; /*phần nội dung và img cách nhau 20px*/
    flex-direction: column; /*phần ảnh và nội dung sắp xếp theo chiều dọc - tablet*/
    padding-bottom: 20px;
    margin-bottom: 20px;

    border-bottom: solid 1px #d6c08d; /*tạo border dưới mỗi phần, hiển thị border dưới của hàng thứ 2 và 3 trong grid, phần border dưới của hàng thứ 3 sẽ xóa sau*/
  }
  .img-cer {
    width: 100%; /*tablet*/
    height: auto; /*tablet*/
    padding-bottom: 0px; /*xóa khoảng cách giữa ảnh và chữ - tablet*/
    /* img có độ rộng bằng parent class và chiều cao tự động khi màn hình thay đổi - tablet*/
  }
  .certificate h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 10px;
  }
  .certificate p {
    font-size: 14px;
    line-height: 1.5;
  }
  .certificate-01,
  .certificate-03 {
    padding-right: 20px; /*đặt khoảng cách giữa 01,03 và border của 02*/
  }
  .certificate-img-02,
  .certificate-content-02 /*tạo border bên trái cho img và content - tablet*/ {
    padding-left: 20px;
    border-left: solid 1px #d6c08d;
  }

  .certificate-03 {
    border: none; /* xóa border dưới của hàng thứ 3 grid */
  }
  /* certificate end */

  /* project start */
  #project {
    margin: 40px 0px; /*sửa margin left, right - tablet*/
  }

  .cover-project {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*chia 3 project thành 3 cột độ rộng bằng nhau*/
    column-gap: 5px; /*khoảng cách giữa các cột là 5px - tablet*/
  }
  .project {
    display: flex;
    flex-direction: column;
    /* đặt thuộc tính flex:1 cho .project-content */
  }
  .img-project {
    width: 100%; /* ảnh có độ rộng bằng .project, và bằng độ rộng của cột*/
    display: block; /*xóa khoảng trống dưới ảnh, các khoảng trống được tạo ra để điều chỉnh các phần tử inline*/
  }
  .project-content {
    border: #d6c08d 1px solid;
    flex: 1;
    /* dùng flex:1 để 3 .project-content có độ cao bằng nhau để border dưới cùng liền nhau */
    /* border chung cho cả khối rồi border-bottom từng phần cần thiết nhìn đẹp hơn border tất cả rồi collapse */
    /* sau sẽ xóa border-bottom cho phần td của tr dưới cùng  */
  }
  .project-name {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;

    padding: 16px 0 16px 20px;
    border-bottom: #d6c08d 0.25px solid;
  }
  .project-info {
    font-size: 14px;
    padding: 10px 0 10px 0px;
    border-bottom: #d6c08d 0.25px solid;

    display: flex;
    /* gap: 10px; dùng flex để chỉnh khoảng cách giữa các button, icon và span */
    align-items: center;
  }
  .project-info button {
    font-size: 12px;
    background-color: #228be6;
    color: #d0ebff;

    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 2px;
  }
  .project-info i {
    color: #495057;
  }
  .project-detail {
    font-size: 14px;
    color: #495057;
  }
  td {
    vertical-align: top; /*căn trên để có dòng chữ "Mô tả", "Nhiệm vụ", "Công nghệ" như ý*/
    /* min-width: 80px; đặt độ rộng tối thiểu để có dòng chữ "Nhiệm vụ", "Công nghệ" như ý */
    padding: 10px 5px;
    border-bottom: #d6c08d 0.25px solid !important;
    /*đặt border với mức độ ưu tiên cao hơn Bootstrap*/
  }
  .non-border-bottom {
    border-bottom: none !important;
    /* xóa border không cần thiết với mức độ ưu tiên cao hơn Bootstrap */
  }
  /* project end */

  /* footer start */

  #footer ul {
    display: flex; /* hiển thị các list của thẻ ul trong 1 hàng */
    justify-content: center; /* căn giữa các list của thẻ ul  */
    gap: 20px; /* các list cách nhau 20px */

    color: #adb5bd;
    font-size: 14px;

    height: 100px; /*đặt chiều cao mở rộng phần tử ul, qua đó có dược vùng background quanh các list có màu như ý */
    margin-bottom: 80px;
  }
  #footer ul li {
    display: flex;
    align-items: center;
    /* căn giữa cho các icon và dòng chữ theo trục chéo */
  }
  #footer i {
    font-size: 250%; /*đặt font-size của icon theo đơn vị % */
  }
  #footer a:link,
  #footer a:visited {
    text-decoration: none;
    color: #adb5bd;
    cursor: pointer;
  }
  #footer a:hover,
  #footer a:active {
    color: red;
    font-weight: bold;
  }
  /* footer end */
}

/*  */

/*  */

/*  */

/*  */

/* css cho digital-cv.html */
@media screen and (max-width: 960px) and (min-width: 576px) {
  /* tương tự mobile.css */
  * {
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
  }
  /* body {
    padding: 20px 25px;
  } */
  .bg-gr {
    background-color: #ebfbee;
  }
  .border-bottom {
    border-bottom: 1px solid #495057;
  }
  .border-bottom-dash {
    border-bottom: 1px dashed #495057;
    margin-bottom: 1rem;
    padding-left: 8px;
  }
  .border-bottom-dash p {
    margin-bottom: 0.25rem;
  }

  .containers {
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 4fr 3fr;
    gap: 20px; 
    box-shadow: 0 0 10px #000; */
    padding: 0.5rem;
  }
  .containes h1 {
    font-weight: 700;
    font-size: 24px !important;
    color: blue;
    border-bottom: 1px solid #495057;
    padding-bottom: 1rem;
  }
  .containers h2 {
    font-weight: 700 !important;
    font-size: 16px !important;
    color: #343a40;
  }
  .containers p {
    font-size: 12px;
  }
  .cover {
    padding: 1rem;
  }
  .containers .bi {
    height: 28px;
    width: 28px;
  }
  #Goals {
    /* grid-column: 1/3; */
    margin: 1rem;
  }
  .Goals-line {
    /* display: grid;
    grid-template-columns: 1fr 4fr; */
    padding: 0 0.5rem;
  }
  .Goals-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
  }
  #Scopes {
    /* grid-column: 1/3; */
    margin: 1rem;
  }
  /* .Scopes-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0.5rem;
  } */
  .Scopes-line {
    /* padding-right: 1.25rem; */
    padding: 0 0.5rem;
  }
  #Scopes h2 {
    font-size: 18px !important;
    margin-bottom: 2rem;
  }
  #Team {
    /* grid-column: 3/4; 
       grid-row: 1/2; */
    margin: 1rem;
  }
  .Team-line {
    /* display: flex;
    padding-bottom: 0.25rem; */
  }
  .Team-icon {
    /* padding: 0.5rem 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #Primary {
    /* grid-column: 3/4; */
    margin: 1rem;
  }
  .Primary-line {
    /* display: flex; */
  }
  .Primary-icon {
    /* padding: 0.5rem 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;
  }
  #Timeline {
    /* grid-column: 4/5;
    grid-row: 1/3; */
    margin: 1rem;
  }
  .Timeline-line {
    /* display: grid;
    grid-template-columns: 1fr 4fr; */
  }
  .number-border {
    font-size: 18px;
    color: #fff;
    background-color: #b197fc;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px #000 solid;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    min-width: 36px;
  }
}
